---
import Logo from "./Logo.astro";
---

<header class="sticky top-0 z-50 w-full border-b border-[oklch(0.141_0.005_285.823)]/10 bg-[oklch(0.985_0_0)] backdrop-blur-sm">
  <div class="mx-auto container flex h-16 items-center justify-between px-4 md:px-6">
    <div class="flex items-center gap-6">
      <a href="/" class="flex items-center gap-2 font-semibold">
        <Logo size="lg" />
      </a>
    </div>
  </div>
</header>